body {
	font-family: 'Open Sans', sans-serif;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 10px 10px;
}

.header h1 {
	font-size: 42px;
}

.header select {
	-webkit-appearance: none;
 	-moz-appearance: none;
  	appearance: none;
	float: right;
	padding: 12px;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	border-radius: 4px;
	width: auto;
	background-color: #f1f1f1;
	color: black;
}

.header select:hover {
	cursor: pointer;
}

.header input[type=text] {
	float: right;
	padding: 12px;
	font-size: 18px;
	line-height: 25px;
	border: none;
	width: 15%;
}

.header a {
	float: right;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header-right {
	float: right;
}

.header a:hover {
	background-color: #3b7f98;
	color: white;
}

.current-data {
	width: 50%;
	margin: 0 auto;
}

.current-data h2 {
	font-size: 1.8vw;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 12px;
}

.current-data h3 {
	text-align: center;
	font-size: 18px;
}

.current-data h2:hover {
	color: white;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 20px;
}

.current-data h2:nth-of-type(1):hover {
	background-color: #3b7f98;
}

.current-data h2:nth-of-type(2):hover {
	background-color: #3b9881;
}

.current-data h2:nth-of-type(3):hover {
	background-color: #983b46;
}

.error {
	width: 100%;
	height: 20%;
	background-color: #ff6969;
	border: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.error h1 {
	padding: 12px;
	color: white;
	text-align: center;
}

.error a {
	padding: 12px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-style: dashed;
	border-radius: 4px;
	margin: 0;
}